
#message {
	color: lime;
}

#caution {
	color: red;
}

#content {
	font-size: medium;
	font-family: monospace;
}

.cr {
	background: red;
}

.lf {
	background: lime;
}

.lsep {
	background: cyan;
}

.psep {
	background: orange;
}

.nel {
	background: violet;
}

